.liga-da-justica {
    top: 510px;
    left: 545px;
    z-index: 0;
}
.super-homem {
    top: 510px;
    left: 695px;
    z-index: 0;
}
.batman {
    top: 510px;
    left: 845px;
    z-index: 0;
}
.mulher-maravilha {
    top: 890px;
    left: 95px;
    z-index: 0;
}
.aquaman {
    top: 890px;
    left: 245px;
    z-index: 0;
}
.flash {
    top: 890px;
    left: 395px;
    z-index: 0;
}
.lanterna-verde {
    top: 890px;
    left: 545px;
    z-index: 0;
}
.ravena {
    top: 890px;
    left: 695px;
    z-index: 0;
}
.coringa {
    top: 890px;
    left: 845px;
    z-index: 0;
}
.liga-da-justica>li:hover ~ .box,
.liga-da-justica>li:hover ~ .box-ligadajustica,
.super-homem>li:hover ~ .box,
.super-homem>li:hover ~ .box-superhomem,
.batman>li:hover ~ .box,
.batman>li:hover ~ .box-batman,
.mulher-maravilha>li:hover ~ .box,
.mulher-maravilha>li:hover ~ .box-mulhermaravilha,
.aquaman>li:hover ~ .box,
.aquaman>li:hover ~ .box-aquaman,
.flash>li:hover ~ .box,
.flash>li:hover ~ .box-flash,
.lanterna-verde>li:hover ~ .box,
.lanterna-verde>li:hover ~ .box-lanternaverde,
.ravena>li:hover ~ .box,
.ravena>li:hover ~ .box-ravena,
.coringa>li:hover ~ .box,
.coringa>li:hover ~ .box-coringa{
    display: inline;
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 1;
}
