 .vingadores {
    top: 130px;
    left: 95px;
}
.capitaoamerica {
    top: 130px;
    left: 245px;
}
.homem-de-ferro {
    top: 130px;
    left: 395px;
}
.hulk {
    top: 130px;
    left: 545px;
}
.thor {
    top: 130px;
    left: 695px;
}
.x-man {
    top: 130px;
    left: 845px;
}
.homem-aranha {
    top: 510px;
    left: 95px;
}
.dr-estranho {
    top: 510px;
    left: 245px;
}
.viuva-negra {
    top: 510px;
    left: 395px;
}
.vingadores>li:hover ~ .box,
.vingadores>li:hover ~ .box-vingadores,
.capitaoamerica>li:hover ~ .box,
.capitaoamerica>li:hover ~ .box-capitaoamerica,
.homem-de-ferro>li:hover ~ .box,
.homem-de-ferro>li:hover ~ .box-homem-de-ferro,
.hulk>li:hover ~ .box,
.hulk>li:hover ~ .box-hulk,
.thor>li:hover ~ .box,
.thor>li:hover ~ .box-thor,
.x-man>li:hover ~ .box,
.x-man>li:hover ~ .box-xman,
.homem-aranha>li:hover ~ .box,
.homem-aranha>li:hover ~ .box-homemaranha,
.dr-estranho>li:hover ~ .box,
.dr-estranho>li:hover ~ .box-drestranho,
.viuva-negra>li:hover ~ .box,
.viuva-negra>li:hover ~ .box-viuvanegra {
    display: inline;
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 2;
}
