
.body {
 width: max-content;
}
em {
  font-size: 30px;
}
span{
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  letter-spacing: -0.5px;
}
.cabecalho {
position: static;
background-size: cover;
}
.cabecalho-style {
  width: auto;
  height: 400px;
  background:linear-gradient( #4b4b4b, white );
}
.logo {
  display: flex;
  position: absolute;
  width: 100px;
  height: 200px;
  top: 0;
  left: 0;
  background-size: cover;

}
.dcmarvel {
  display: flex;
  position: absolute;
  width: 110px;
  height: 80px;
  top: 10px;
  left: 35%;
  background-size: cover;
}
.promocao {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    top: 25%;
    left: 0%;
    width: max-content;
    height: 275px;
    background-size: cover;
}
.img-frete {
  padding-top: 2%;
  margin: 0 130px;
}
.img-pix {
  padding-top: 2%;
  margin: 0 230px;
}
.login-style {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(251, 251, 251);
  color: white;
  width: 273px;
  height: 53px;
  border: 4pt;
  border-style: solid;
  border-radius: 16px;
  border-color: black;
}
.login {
  position: absolute;
  top: 67px;
  right: 75px;
  text-align: center;
  margin: 0;
  background-size: cover;
}
a:link, a:visited, a:active {
  font-family: 'Bangers';
  text-decoration: none;
  color: brown;
  vertical-align: middle;
  line-height: 1.50em;
}
a:hover {
text-decoration: underline;
color:#000;
}

.search-container{
    position: absolute;
    top: 118px;
    left: 490px;
  width: 490px;
  display: block;
  margin: 0 auto;
  background-size: cover;
}


input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 35px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 2px;
}
  &:focus{
    border: 1px solid #000000;
    transition: 0.35s ease;
    color: #000000;
  }
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
        transition: opacity 0.45s ease; 
      transition: opacity 0.45s ease; 
        opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
        transition: opacity 0.45s ease; 
      transition: opacity 0.45s ease; 
        opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
       transition: opacity 0.45s ease; 
     transition: opacity 0.45s ease; 
       opacity: 0;
     }   

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -57px;
  right: -45px;
}
.text-cel {
  position: absolute;
  top: 732px;
  right: 79px;
  font-size: 35px;
  font-family: 'Bangers', cursive;
  text-align: right;
  color: white;
  line-height: 2em;
}
.posicao{
  position:absolute;
  background-size: cover;
  z-index: 1;
  text-align: center;
}
.animacao:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  z-index: 2;
  transition: 1.0s;
}
.produtos {
    position: relative;
    top: 110px;
    left: 0;
    width: auto;
    height: 1290px;
    background:linear-gradient( white,#4b4b4b,black);
}
.img-celular {
  display: flex;
  position: relative;
  top: 10%;
  left: 75%;
}
#preco{
  font-size: 9;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: rgb(255, 221, 1);
  text-align: center;
  margin: 5px;
  line-height: 1.50em;
  background-color: black; 
}

.fundo {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0;
position: static;
width: auto;
height: auto;
left: 0px;
top: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
background-size: cover;
}

.contato {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
position: static;
width: auto;
height: 580px;
left: 0px;
top: 0px;
background:  black;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
background-size: cover;
line-height: 00.65em;
}
h4 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  margin-top: 2px;

}
#submit_button{
  font-size: 18px;
  font-family: 'Bangers', cursive;
  background-color: rgb(251, 251, 251);
  color: rgb(5, 5, 5);
  width: 60px;
  height: 30px;
  text-align: center;
  margin: 0;
  border: 2pt;
  border-style: solid;
  border-radius: 2px;
  border-color: black;
  background-size: cover;
}
.rodape {
    background-color: black;
    width: auto;
    height: 100px;
    text-align: center;
    vertical-align:baseline;
    background-size: cover;
}
.rodape a {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
.rodape p {
    color: white;
}
