.body {
    width: max-content;
   }
.contato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: static;
    width: auto;
    height: 310px;
    left: 0px;
    top: 0px;
    background:  black;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    background-size: cover;
    line-height: 00.65em;
    font-family: 'Bangers', cursive;
    }
    .text-footer {
      font-size: 18px;
      color: white;
      margin-top: 2px;
    
    }
    .enviar-btn{
      font-size: 18px;
      font-family: 'Bangers', cursive;
      background-color: rgb(251, 251, 251);
      color: rgb(5, 5, 5);
      width: 60px;
      height: 30px;
      text-align: center;
      margin: 0;
      border: 2pt;
      border-style: solid;
      border-radius: 2px;
      border-color: black;
      background-size: cover;
    }