
.body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursiva;
}
.cabecalho {

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

position: static;
width: auto;
height: 115px;
left: 0px;
top: 0px;


background: #9e9999;

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;


}
#dcmarvel {
    height: 115px;
    width: 50vw;
    left: 0px;
    top: 0px;
    background-size: cover;
}
#logo {
    position:absolute;
    top: 0px;
    left: 20px;
    width: 170px;
    height: 120px;
    background-size: cover;

}

.fundo {
    /* Hero */


/* Auto layout */

display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0;

position: static;
width: auto;
height: auto;
left: 0px;
top: 0px;

/* imagemhero */

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}
#img-fundo {
    position:relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 150vh;
    background-size: cover;
}
#img-pix {
    position: absolute;
    top: 800px;
    left: 630px;
}
#text-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.45);
    border-radius: 0.25em;
    width: 250px;
    height: 80px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    font-size: 34px;
    text-align: center;
}
.marvel {
    position: absolute;
    top: 200px;
    left: 380px;
    background-size: cover;
    margin: 15px,15px,15px,15px;
}

.marvel li:nth-child(1):hover ~ #text-box1{
    display: inline;
    position: absolute;
    top: 0px;
    left: 90px;
}
.marvel li:nth-child(1):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.marvel li:nth-child(2):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(3):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(4):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(5):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(6):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(7):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(8):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}.marvel li:nth-child(9):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(10):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}

.DC {
    position: absolute;
    top: 200px;
    right: 380px;
    background-size: cover;

}
.DC li:nth-child(1):hover ~ #text-box1{
    display: inline;
    position: absolute;
    top: 0px;
    right: 90px;
}
.DC li:nth-child(1){
    position: absolute;
    top: 0;
    right: 0px;
    background-size: cover;

}
.DC li:nth-child(3){
    position: absolute;
    top: 88px;
    right: 3px;
    background-size: cover;

}

.DC li:nth-child(4){
    position: absolute;
    top: 176px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(5){
    position: absolute;
    top: 264px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(6){
    position: absolute;
    top: 352px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(7){
    position: absolute;
    top: 440px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(8){
    position: absolute;
    top: 528px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(9){
    position: absolute;
    top: 616px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(10){
    position: absolute;
    top: 704px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(11){
    position: absolute;
    top: 792px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(1):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(2):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(3):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(4):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(5):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(6):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(7):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(8):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(9):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(10):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
 
.rodape {
    background-color: black;
    width: auto;
    height: 100px;
    text-align: center;
    vertical-align:baseline;
}
.rodape a {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
.rodape p {
    color: white;
}
@media screen and (max-width: 520px) {
    .cabecalho {
        position: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        background-color: black;
    }
    .cabecalho img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 150px;
        background-size: cover;
    }
    #logo {
        position:absolute;
        top: 85px;
        left: 116px;
        width: 150px;
        height: 114px;
        background-size: cover;
    
    }
    
    .fundo {
        position: flex;
        float: center;
        margin: 150px 0 0 0;
        padding: 0 0 0 0;
        background-color: white;
    }
    #img-fundo {
        width: 100vw;
        height: 80vh;
        background-size: cover;
    }
    #img-pix {
        position: absolute;
        top: 550px;
        left: 140px;
        width: 100px;
        height: 80px;
    }
    #text-box1{
        display: none;
        padding: 4px;
        box-shadow: 3px 3px 3px 1px #b700ff;
        background-color: rgba(176, 182, 218, 0.45);
        border-radius: 0.25em;
        width: 250px;
        height: 80px;
        margin: auto 5px auto 5px;
        font-family: 'Bangers', cursive;
        font-size: 34px;
        text-align: center;
    }
    .marvel {
        position: absolute;
        top: 140px;
        left: 50px;
        background-size: cover;
    }
    .marvel img{
        max-width: 100%;
        max-height: 100%;

    }
    .marvel li {
        width: 50px;
        height: 50px;
    }
    
    .marvel li:nth-child(1):hover ~ #text-box1{
        display: inline;
        position: absolute;
        top: 0px;
        left: 90px;
    }
    .marvel li:nth-child(1):hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    .marvel li:nth-child(2):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(3):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(4):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(5):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(6):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(7):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(8):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }.marvel li:nth-child(9):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(10):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    
    
    
    .DC {
        position: absolute;
        top: 140px;
        right: 50px;
        background-size: cover;
    }
    .DC img{
        max-width: 100%;
        max-height: 100%;

    }
    .DC li {
        width: 50px;
        height: 50px;
    }
    
    .DC li:nth-child(1):hover ~ #text-box1{
        display: inline;
        position: absolute;
        top: 0px;
        right: 90px;
    }
    .DC li:nth-child(1){
        position: absolute;
        top: 0;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(3){
        position: absolute;
        top: 41px;
        right: 0px;
        background-size: cover;
    
    }
    
    .DC li:nth-child(4){
        position: absolute;
        top: 95px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(5){
        position: absolute;
        top: 145px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(6){
        position: absolute;
        top: 195px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(7){
        position: absolute;
        top: 245px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(8){
        position: absolute;
        top: 292px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(9){
        position: absolute;
        top: 345px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(10){
        position: absolute;
        top: 395px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(11){
        position: absolute;
        top: 442px;
        right: 0px;
        background-size: cover;
    
    }
    .DC li:nth-child(1):hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    .DC li:nth-child(2):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .DC li:nth-child(3):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .DC li:nth-child(4):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .DC li:nth-child(5):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .DC li:nth-child(6):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .DC li:nth-child(7):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .DC li:nth-child(8):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }.DC li:nth-child(9):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .DC li:nth-child(10):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .rodape {
        background-color: black;
        width: auto;
        height: 100px;
        text-align: center;
        vertical-align:baseline;
    }
    .rodape a {
        margin: 3px;
        padding: 3px;
    }
    .rodape p {
        color: white;
        text-align: left;
        vertical-align: middle;
    }

}