
.body {
    margin: 0;
    padding: 0;
}
.cabecalho {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
position: static;
width: auto;
height: 115px;
left: 0px;
top: 0px;
background: #9e9999;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}
nav {
    position:static;
    width: 100em;
    height: 260px;
}
.produtos {
    position: relative;
    top: 0px;
    left: 0;
}
#login {
    position:absolute;
    top:30px;
    right: 30px;
    font-size: 25px;
    background-color: rgb(251, 251, 251);
    color: white;
    border-radius: 3px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin: 0;
}
a:link, a:visited, a:active {
	text-decoration:none;
    color: brown;
    vertical-align: middle;
    line-height: 1.6em;
	}
a:hover {
	text-decoration: underline;
	color:#000;
	}
#dcmarvel {
    height: 115px;
    width: 50vw;
    left: 0px;
    top: 0px;
    background-size: cover;
}
#logo {
    position:absolute;
    top: 0px;
    left: 20px;
    width: 170px;
    height: 120px;
    background-size: cover;

}
.fundo {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding: 0;
position: static;
width: auto;
height: auto;
left: 0px;
top: 0px;
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}
#img-fundo {
    position:relative;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 150vh;
    background-size: cover;
}
#img-pix {
    position: relative;
    top: 30px;
    left: 670px;
    padding: 0;
}
#preco{
    font-size: 9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(255, 221, 1);
    text-align: center;
    margin: 5px;
    line-height: 1.50em;
    background-color: black; 
}
.contato {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
position: static;
width: auto;
height: 290px;
left: 0px;
top: 0px;
background:  black;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 0px 0px;
}
.rodape {
    background-color: black;
    width: auto;
    height: 100px;
    text-align: center;
    vertical-align:baseline;
}
.rodape a {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
.rodape p {
    color: white;
}
