em {
    font-size: 30px;
}
span{
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    letter-spacing: -0.5px;
}
#text-cel{
    position: absolute;
    top: 590px;
    right: 40px;
    font-size: 35px;
    font-family: 'Bangers', cursive;
    text-align: right;
    color: white;
    line-height: 2em;
}
.box{
    display: none;
    padding: 4px;
    margin: auto 5px auto 5px;
    text-align: center;
}
.box-vingadores{
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 250px;
    font-family: 'Bangers', cursive;
}

/*#text1-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 250px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}*/
#text2-box1{
    display: none;
    padding: 10px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 250px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text3-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 270px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text4-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #00ff0d;
    background-color: rgba(109, 233, 97, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 270px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text5-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 280px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text6-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 400px;
    height: 480px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text7-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 270px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text8-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 450px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text9-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 250px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;
}
#text10-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 250px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text11-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 330px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text12-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 400px;
    height: 460px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text13-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 400px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text14-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 450px;
    height: 250px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text15-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 450px;
    height: 280px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text16-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 360px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text17-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 480px;
    height: 280px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}
#text18-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.93);
    border-radius: 0.25em;
    width: 400px;
    height: 320px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    text-align: center;


}