* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none
  }
body{
  background-image: url("../img/marvel/wallpaper-os-vingadores-02.jpg");
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}
img {
    top: 0;
    left: 300;
    width: 20%;
    height: 20%;
}

  #button {
    display: block
  }
  .menu {
    padding: 10px;
    border: 1px solid #f2f2f2;
    display: none
  }