.body {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho {
    position: flex;
    float: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
}
.cabecalho img {
    width: 1520px;
    height: 180px;
    margin: 0 0 0 0;
}

.fundo {
    position: flex;
    float: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
}  
#img-fundo {
    
    width: 1520px;
    height: auto;
    margin: 1px 0 0 0;
} 

.marvel {
    position: absolute;
    top: 500px;
    left: 80px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.DC {
    position: absolute;
    top: 500px;
    right: 80px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
 
.rodape {
    background-color: black;
    width: auto;
    height: 100px;
    text-align: center;
}