
.body {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursiva;
}
.cabecalho {
    position: flex;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
}
.cabecalho img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 150px;
    background-size: cover;
}
#logo {
    position:absolute;
    top: 80px;
    left: 548px;
    width: 450px;
    height: 350px;
    background-size: cover;

}

.fundo {
    position: flex;
    float: center;
    margin: 150px 0 0 0;
    padding: 0 0 0 0;
    background-color: white;
}
#img-fundo {
    width: 100vw;
    height: 140vh;
    background-size: cover;
}
#text-box1{
    display: none;
    padding: 4px;
    box-shadow: 3px 3px 3px 1px #b700ff;
    background-color: rgba(176, 182, 218, 0.45);
    border-radius: 0.25em;
    width: 250px;
    height: 80px;
    margin: auto 5px auto 5px;
    font-family: 'Bangers', cursive;
    font-size: 34px;
    text-align: center;
}
.marvel {
    position: absolute;
    top: 200px;
    left: 380px;
    background-size: cover;
    margin: 15px,15px,15px,15px;
}

.marvel li:nth-child(1):hover ~ #text-box1{
    display: inline;
    position: absolute;
    top: 0px;
    left: 90px;
}
.marvel li:nth-child(1):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.marvel li:nth-child(2):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(3):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(4):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(5):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(6):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(7):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(8):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}.marvel li:nth-child(9):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}
.marvel li:nth-child(10):hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

}

.DC {
    position: absolute;
    top: 200px;
    right: 380px;
    background-size: cover;

}
.DC li:nth-child(1){
    position: absolute;
    top: 0;
    right: 0px;
    background-size: cover;

}
.DC li:nth-child(2){
    position: absolute;
    top: 88px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(3){
    position: absolute;
    top: 176px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(4){
    position: absolute;
    top: 264px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(5){
    position: absolute;
    top: 352px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(6){
    position: absolute;
    top: 440px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(7){
    position: absolute;
    top: 528px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(8){
    position: absolute;
    top: 616px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(9){
    position: absolute;
    top: 704px;
    right: 3px;
    background-size: cover;

}
.DC li:nth-child(1):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(2):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(3):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(4):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(5):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(6):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(7):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(8):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.DC li:nth-child(9):hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
 
.rodape {
    background-color: black;
    width: auto;
    height: 100px;
    text-align: center;
    vertical-align:baseline;
}
.rodape a {
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px 20px;
}
.rodape p {
    color: white;
}
@media screen and (max-width: 520px) {
    .cabecalho {
        position: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        background-color: black;
    }
    .cabecalho img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 150px;
        background-size: cover;
    }
    #logo {
        position:absolute;
        top: 80px;
        left: 100px;
        width: 180px;
        height: 140px;
        background-size: cover;
    
    }
    
    .fundo {
        position: flex;
        float: center;
        margin: 150px 0 0 0;
        padding: 0 0 0 0;
        background-color: white;
    }
    #img-fundo {
        width: 100vw;
        height: 140vh;
        background-size: cover;
    }
    #text-box1{
        display: none;
        padding: 4px;
        box-shadow: 3px 3px 3px 1px #b700ff;
        background-color: rgba(176, 182, 218, 0.45);
        border-radius: 0.25em;
        width: 250px;
        height: 80px;
        margin: auto 5px auto 5px;
        font-family: 'Bangers', cursive;
        font-size: 34px;
        text-align: center;
    }
    .marvel {
        position: absolute;
        top: 140px;
        left: 0;
        background-size: cover;
        margin: 15px,15px,15px,15px;
    }
    
    .marvel li:nth-child(1):hover ~ #text-box1{
        display: inline;
        position: absolute;
        top: 0px;
        left: 90px;
    }
    .marvel li:nth-child(1):hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    .marvel li:nth-child(2):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(3):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(4):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(5):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(6):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(7):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(8):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }.marvel li:nth-child(9):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    .marvel li:nth-child(10):hover {
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
            transform: scale(1.3);
    
    }
    
    
    
    .DC {
        position: absolute;
        top: 140px;
        right: 0px;
        background-size: cover;
        margin: 15px,15px,15px,15px;
    }
    .DC li:nth-child(1):hover{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    .rodape {
        background-color: black;
        width: auto;
        height: 100px;
        text-align: center;
        vertical-align:baseline;
    }
    .rodape a {
        margin: 20px 20px 20px 20px;
        padding: 20px 20px 20px 20px;
    }
    .rodape p {
        color: white;
    }

}