.body {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cabecalho {
    background-color: aqua;
    width: auto;
    height: 150px;
}
.cabecalho img {
    position: relative;
    top: 10px;
    left: 630px;
    width: 250px;
    
}
.titulo-principal {
    text-align: center;
}
.fundo {
    position:relative;
    top: 0;
    left: 132px;
    width: auto;
    float: center;
}   
.marvel {
    position: absolute;
    top: 500px;
    left: 80px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.DC {
    position: absolute;
    top: 500px;
    right: 80px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
 
.rodape {
    background-color: aqua;
    width: auto;
    height: 100px;
    text-align: center;
}